<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<h1> Delete Menu Item </h1>

	<div class="text">

		<div>Are you sure you want to delete this menu item?</div>

		<ul>

			<li>Name: {{item.name}}</li>

			<li>Description: {{item.description}}</li>

			<li>Course: {{item.course}}</li>

			<li>Price: {{item.price}}</li>

		</ul>

	</div>

	<form action="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=item.id )}}" method = 'POST'>

		<input type='submit' value='Delete'>

		<a href="{{url_for('showRestaurantMenu', restaurant_id=restaurant.id )}}">Cancel</a>

	</form>

</body>
</html>