<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
	</head>
	<body>
		<div class="container">
			<div class="container">
				<div class="row background-lightblue">
					<div class="col-md-6 text-left text-uppercase">
						<a href="{{url_for('showCatalog')}}">
							<h1>Catalog App</h1>
						</a>
					</div>
					<div class="col-md-6 text-right">
						<a href="#">Login</a>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-12 text-info background-lightyellow">
						<!--MESSAGE FLASHING EXAMPLE -->
						{% with messages = get_flashed_messages() %}
							{% if messages %}

								{% for message in messages %}
								  {{message}}
								  {% endfor %}

							{% endif %}
						{% endwith %}
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<form action="{{url_for('editItem', category = item.category.name, item = item.name)}}" method = 'POST'>
						<div class="col-md-8">
							<div class="text-darkblue">
								<h2>Edit Item</h2>
							</div>
							<div class="text-info">
								<div>Name
									<div><input type='text' placeholder = "{{item.name}}" size='80' name='name'></div>
								</div>
								<div class="margin-top-1">Description
									<div><textarea rows="4" cols="80" maxlength="250" name="description">{{item.description}}</textarea></div>
								</div>
								<div class="margin-top-1">Category
									<div class="text-warning">{{item.category.name}}</div>
								</div>
								<div class="margin-top-1">Created By
									<div class="text-warning">{{item.user.name}}</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 background-lightgreen">
							<div class="text-darkblue">
								<h2>Actions</h2>
							</div>
							
							<div>
								<input type='submit' value='Update'>
							</div>
							<div>
								<a href="{{url_for('showItemInfor', category = category, item = item.name)}}">Cancel</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>

</html>