<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<h1> Edit Menu Item </h1>

	<div>

		<form action="{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=item.id )}}" method = 'POST'>

			<p>Name:</p>

			<input type='text' placeholder = "{{item.name}}" size='30' name='name'>

			<p>Description:</p>

			<input type='text' placeholder = "{{item.description}}" size='250' name='description'>

			<div class="text">

				<p>Course:</p>

				{% if item.course == 'Appetizer' %}

					<input type="radio" id="{{item.course}}" name="course" value="Appetizer" checked>Appetizer</input><br>

				{% else %}

					<input type="radio" id="{{item.course}}" name="course" value="Appetizer">Appetizer</input><br>

				{% endif %}

				{% if item.course == 'Entree' %}

					<input type="radio" id="{{item.course}}" name="course" value="Entree" checked>Entree</input><br>

				{% else %}

					<input type="radio" id="{{item.course}}" name="course" value="Entree">Entree</input><br>

				{% endif %}

				{% if item.course == 'Desert' %}

					<input type="radio" id="{{item.course}}" name="course" value="Desert" checked>Desert</input><br>

				{% else %}

					<input type="radio" id="{{item.course}}" name="course" value="Desert">Desert</input><br>

				{% endif %}

				{% if item.course == 'Beverage' %}

					<input type="radio" id="{{item.course}}" name="course" value="Beverage" checked>Beverage</input><br>

				{% else %}

					<input type="radio" id="{{item.course}}" name="course" value="Beverage">Beverage</input><br>

				{% endif %}

			</div>
			
			<p>Price:</p>

			<input type='text' placeholder="{{item.price}}" size='7' name='price'>

			<p>
				<input type='submit' value='Update'>

				<a href="{{url_for('showRestaurantMenu', restaurant_id=restaurant.id )}}">Cancel</a>
			</p>

		</form>

	</div>

</body>
</html>