{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="text-darkblue">
					<h2>{{item.category.name}} - {{item.name}}</h2>
				</div>
				<div class="text-primary">
					<div class="mt-1">Description
						<div class="mb-2 text-secondary">{{item.description}}</div>
					</div>
					<div>Category
						<div class="mb-2 text-secondary">{{item.category.name}}</div>
					</div>
					<div>Created By
						<div class="mb-5 text-secondary">{{item.user.name}}</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 background-lightgreen">
				<div class="text-darkblue">
					<h2>Actions</h2>
				</div>
				
				<div class="mt-4">
					<a class="btn btn-primary" href="{{url_for('editItem', category = item.category.name, item = item.name)}}">Edit</a>
				</div>
				<div class="mt-4">
					<a class="btn btn-danger" href="{{url_for('deleteItem', category = item.category.name, item = item.name)}}">Delete</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}