.background-lightblue {
	background-color: lightblue;
}

.background-lightyellow {
	background-color: lightyellow;
}

.background-lightgrey {
	background-color: lightgrey;
}

.text-darkblue {
	color: darkblue;
}